@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  object-position: 0 30%;
}

.logo {
  max-width: 100px;
}

.color-red {
  color: #f27477;
}

.fs-medium {
  font-size: 14px;
}

.fs-large {
  font-size: 15px;
}

.fs-largest {
  font-size: 23px;
}

.font-bold {
  font-weight: bold;
}

.rounded {
  border-radius: 10px;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-tree {
  padding-left: 5px;
}

.button-default {
  box-shadow: none;
  padding: "6px 12px";
  border: "1px solid";
  font-size: 16px;
  line-height: 1.5;
  background-color: "#0063cc";
  border-color: "#0063cc";
}

.button-default:hover {
  background-color: "#0069d9";
  border-color: "#0062cc";
  box-shadow: "none";
}

.button-default:focus {
  box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5)";
}

.text-decoration {
  text-decoration-line: line-through;
}

.sidebar {
  background-color: #fff;
}

.box-shadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.sidebar ul li a {
  -o-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
  font-family: "Open Sans", sans-serif;
}

.sidebar > ul > li > a {
  border-bottom: 1px solid #f0f0f0;
  padding: 14px 22px;
}

.sidebar > li:last-child {
  border-bottom: none;
}

.sidebar .nav-item:hover {
  background-color: #f0f0f0;
}

.submenu .nav-link {
  padding: 0.2rem 0.5rem;
}

.sidebar .nav-item .nav-link {
  position: relative;
}

.right-content {
  position: absolute;
  right: 10px;
}

.ck.ck-editor__editable_inline {
  height: 180px;
}

/* -----------------Search----------------------- */
.search-result {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.search-result .result-item {
  padding: 10px 10px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.search-result .result-item a {
  cursor: pointer;
}

.search-result .result-item:hover {
  background: #fef;
}

.search-result .result-item img {
  max-width: 80px;
}

.transition {
  transition: 0.3s ease-in-out;
}

.swiper img {
  width: 100%;
}

.product-home .product-category .title-category {
  color: #fff;
  background: #cb4346;
  padding: 1rem;
  border-radius: 8px;
}

.detail_page .content .card-body img {
  max-width: 100%;
}

@media all and (min-width: 992px) {
  .sidebar li .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -3px;
    min-width: 240px;
    width: 950px;
    height: 100%;
  }

  [dir="rtl"] .sidebar li .submenu {
    right: 100%;
    left: auto;
  }

  .sidebar li:hover {
    background: var(--bs-light);
  }
  .sidebar li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .sidebar .submenu,
  .sidebar .dropdown-menu {
    position: static !important;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */

.sidebar .nav-link {
  background: #fff;
  color: #555;
}
.sidebar .nav-link:hover {
  background: var(--bs-light);
  color: var(--bs-primary);
}
@media all and (min-width: 992px) {
  .megasubmenu {
    left: 100%;
    top: 0;
    min-height: 100%;
    min-width: 500px;
  }
  .dropdown-menu-end .megasubmenu {
    left: auto;
    right: 100%;
    top: 0;
  }
  .dropdown-menu > li:hover .megasubmenu {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .social-login {
    flex-direction: column;
  }

  .social-login button:first-child {
    margin-bottom: 0.6rem;
  }

  .table-cart .title-product-cart {
    font-size: 15px;
  }

  .search-result .result-item .price {
    display: none;
  }

  .search-result .result-item .title-product-result {
    max-height: 80px;
    overflow: hidden;
  }

  .mb-none {
    display: none;
  }
  .fs-medium {
    font-size: 13px;
  }

  .fs-large {
    font-size: 15px;
  }

  .fs-largest {
    font-size: 18px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .products .card .flip-card {
    height: 195px;
    padding: 5px;
  }

  .products .card-img-top {
    height: 195px;
  }

  .products .card {
    width: 100%;
  }
}

@media all and (max-width: 475px) {
  .product-home .product-category .title-category {
    flex-direction: column;
  }

  .products .card .card-body {
    padding: 0.75rem;
  }

  .detail_page .title-product {
    margin: 1rem 0;
    font-size: 25px;
  }

  .detail_page .price {
    text-align: center;
    margin-top: 2rem;
  }
}

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Product ------------- */
@import url("./product.css");

/* ----------- Product ------------- */
@import url("./profile.css");

/* ----------- Product Manager ------------- */
@import url("./product_manager.css");

/* ----------- Category ------------- */
@import url("./category.css");
