.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  grid-gap: 5px;
}

.products .label_sale {
  background-size: cover;
  position: absolute;
  width: 75px;
  height: 45px;
  right: 30px;
  top: 10px;
  text-align: center;
  padding-top: 12px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.product-name {
  height: 38px;
  overflow: hidden;
  font-weight: 600;
  color: #555555;
}

.products .card {
  margin: 10px auto;
  width: 18rem;
}

.products .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products .card-img-top {
  height: 286px;
  width: 100%;
  padding: 30px;
}

.products .cart-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products .card-text {
  height: 40px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.flip-card {
  margin: 0 auto;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  height: 286px;
  width: 100%;
  padding: 30px;
}
.flip-card-inner {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card .front,
.flip-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card .back {
  transform: rotateY(180deg);
}

.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-thumbs .swiper-slide {
  padding: 5px;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
}

.swiper-thumbs .swiper-slide-thumb-active,
.swiper-thumbs .swiper-slide:hover {
  border: 2px solid rgb(0, 162, 255);
}

